body{
    background-color: #111111;
}
.drop{
    font-size: 38px;
    margin-left: 100px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    animation: color 8s infinite;
    text-shadow: 2px 2px 4px ;
}
@keyframes color {
    0% {color: rgb(143, 143, 143);}
    10% {color: yellow;}
    20% {color: green;}
    30% {color: gray;}
    40% {color: teal;}
    50% {color: firebrick;}
    60% {color: wheat;}
    70% {color: navajowhite;}
    80% {color: seagreen;}
    90% {color: navy;}
    100% {color: sienna;}
}
.contact{
    font-size: 35px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 450px;
    margin-top: -71px;
}
.contact1{
    font-size: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 0px;
    margin-top: 101px;
}
.trust{
    font-size: 35px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 750px;
    margin-top: -71px;
}
.div{
    width: auto;
    height: 10px;
    border-radius: 30px;
    margin-top: 50px;
    background: linear-gradient(to right, #da22ff, #9733ee);
}
.card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 50px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, #da22ff 50%,#9733ee);
}
  
.card__content {
    background: rgb(5, 6, 45);
    border-radius: 17px;
    width: 100%;
    height: 100%;
}
.ft{
    width: 200px;
    height: 100px;
    margin-left: -7px;
    margin-top: 30px;
}
button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 14px;
    margin-left: 13px;
    margin-top: 30px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}
   
button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}
   
button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
}
   
button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
}
.card1 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    margin-left: 400px;
    margin-top: -265px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, #da22ff 50%,#9733ee);
}
  
.card__content1 {
    background: rgb(5, 6, 45);
    border-radius: 17px;
    width: 100%;
    height: 100%;
}
.ft1{
    width: 110px;
    height: 110px;
    margin-left: 45px;
    margin-top: 20px;
}
button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 14px;
    margin-left: 13px;
    margin-top: 30px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}
   
button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}
   
button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
}
   
button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
}
.div1{
    width: auto;
    height: 10px;
    border-radius: 30px;
    margin-top: 250px;
    background: linear-gradient(to right, #da22ff, #9733ee);
}
.card2 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    margin-left: 700px;
    margin-top: -265px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, #da22ff 50%,#9733ee);
}
  
.card__content2 {
    background: rgb(5, 6, 45);
    border-radius: 17px;
    width: 100%;
    height: 100%;
}
.d{
    font-size: 200px;
    margin-left: 37px;
    margin-top: 0px;
    color: white;
}
button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 14px;
    margin-left: 13px;
    margin-top: 30px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}
   
button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}
   
button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
}
   
button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
}


.ft2{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-left: 000px;
}
.ft3{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-left: 40px;
}


@media (width: 400px) {
    .div{
        margin-top: 50px;
    }
    .contact{
        margin-left: 120px;
        margin-top: 50px;
    }
    .trust{
        margin-left: 100px;
        margin-top: 50px;
    }
    .drop{
        margin-left: 90px;
    }
    .card1{
        margin-left: 100px;
        margin-top: 100px;
    }
}
.h3{
    color: white;
}